<form action="" method="get">
  <input type="text" name="from_date" value="{% if form.from_date.value %}{{ form.from_date.value }}{% else %}{{ form.from_date.initial }}{% endif %}">
  <input type="text" name="to_date" value="{% if form.to_date.value %}{{ form.to_date.value }}{% else %}{{ form.to_date.initial }}{% endif %}">
  <button type="submit">send</button>
</form>
