<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  {% include 'includes/date-form.html' %}
  {% include 'includes/query-count.html' %}
<table>
  <tr>
    <th>дата</th>
    <th>номер</th>
    <th>сумма</th>
    <th>кількість товарів</th>
    <th>товари</th>
  </tr>
  {% for obj in data %}
    <tr>
      <td>{{ obj.created_date }}</td>
      <td>{{ obj.number }}</td>
      <td>{{ obj.total_prices }}</td>
      <td>{{ obj.total_amount }}</td>
      <td>{% for item in obj.items.all %}{{ item.product_name }}x{{ item.amount }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</td>
    </tr>
  {% endfor %}
</table>
</body>
</html>
