<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  {% include 'includes/date-form.html' %}
  {% include 'includes/query-count.html' %}
<table>
  <tr>
    <th>товар</th>
    <th>кількість</th>
    <th>замовлення</th>
  </tr>
  {% for obj in data %}
    <tr>
      <td>{{ obj.product_name }}</td>
      <td>{{ obj.total_amount }}</td>
      <td>{{ obj.orders }}</td>
    </tr>
  {% endfor %}
</table>
</body>
</html>
